// .carousel-wrapper {
//     height: 65vh;
// }

// @media screen and (max-width: 576px) {
//     .carousel-wrapper {
//         height: auto;
//     }
// }

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 10px;

    -webkit-box-reflect: below 5px -webkit-linear-gradient(bottom,rgba(255,0,0,.1) 0%,transparent 32px,transparent 100%);
    margin: auto;

    // margin: 0px;
}
