<swiper
  [slidesPerView]="3"
  
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
  [coverflowEffect]="coverflowEffect"
  effect="coverflow"
  [breakpoints]="breakpoints"
  [loop]="true"
  [pagination]="{ clickable: true }"
  [spaceBetween]="50"
  [centeredSlides]="true"
>
    <!-- [autoplay]="autoplayConfig" -->

  <ng-template swiperSlide>
    <div class="swiper-slide" style="background-image:url(./assets/images/marvel-spider.jpg)"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide" style="background-image:url(./assets/images/marvel-spider.jpg)"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide" style="background-image:url(./assets/images/marvel-spider.jpg)"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide" style="background-image:url(./assets/images/marvel-spider.jpg)"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide" style="background-image:url(./assets/images/marvel-spider.jpg)"></div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="swiper-slide" style="background-image:url(./assets/images/marvel-spider.jpg)"></div>
  </ng-template>
</swiper>

