<div class="card card-wrapper">
    <div class="row g-0">
        <div class="col">
            <img class="image-fluid card-image" src="/assets/images/marvel-spider.jpg" alt="card-image">
        </div>
    </div>
</div>