<nav class="navbar navbar-expand-lg navbar-dark nav-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/platforms">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/genres">Genres</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <nav>
    <ul>
      <li>
        <a [routerLink]="['/home']">home</a>
      </li>
      <li>
        <a routerLink="/genres">genres</a>
      </li>
      <li>
        <a routerLink="/platforms">platforms</a>
      </li>
    </ul>
  </nav> -->