.banner-image{

    /* Location of the image */
    // background-image: url('/assets/images/videogames.jpg');
    background-image: url('/assets/images/videogames.png');
    // min-height: 60vh;
    min-height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
}