/* You can add global styles to this file, and also import other style files */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #3b3b3b;
    color:#FFF
}

.text-title {
    font-size: 65px;
}

.nav-dark {
    background-color: #000000;
}

@import "~swiper/css/bundle";

.swiper-pagination-bullet {
    background: blanchedalmond;
}